version: "3"

services:
  chartbrew:
    image: elestio4test/chartbrew:latest
    restart: always
    ports:
      - 172.17.0.1:4118:4018
      - 172.17.0.1:4019:4019
    expose:
      - 4018
      - 4019
    environment:
      CB_SECRET: ${ADMIN_PASSWORD}
      CB_API_HOST: 0.0.0.0
      CB_API_PORT: 4019
      CB_RESTRICT_TEAMS: 0
      CB_DB_DIALECT: mysql
      CB_DB_HOST: db
      CB_DB_NAME: chartbrew
      CB_DB_USERNAME: chartbrew
      CB_DB_PASSWORD: ${ADMIN_PASSWORD}
      CB_DB_PORT: 3306
      REACT_APP_CLIENT_HOST: ${BASE_URL}
      REACT_APP_API_HOST: ${BASE_URL}/api
    volumes:
      - ./settings.js:/code/server/settings.js
      - ./storage/dist:/code/client/dist
    depends_on:
      - db

  db:
    image: elestio/mysql:latest
    restart: always
    environment:
      MYSQL_DATABASE: chartbrew
      MYSQL_USER: chartbrew
      MYSQL_PASSWORD: ${ADMIN_PASSWORD}
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
    ports:
      - 172.17.0.1:3306:3306
    volumes:
      - ./storage/chartbrew-db:/var/lib/mysql
